.Header {
  background-color: #1c2b35;
  padding-left: 140px;
  padding-right: 140px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Links li {
  display: inline;
  list-style: none;
}

.Links li a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin-left: 36px;
}

.logout-btn {
  background: #1c2b35;
  margin-left: 30px;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.Links li a:hover {
  color: orange;
}

.isActive {
  color: orange !important;
}
